.App {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.input {
	padding: 5px 6px;
	border-radius: 8px;
}
.listItemContainer {
	list-style: none;
  
}
