html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: #f3eff5;
}

h1 {
	font-family: "Cinzel", serif;
}
.randomBtn {
	margin: 10px 10px;
	padding: 10px;
	background-color: lightskyblue;
	font-size: 20px;
	color: white;
	border: lightskyblue;
	border-radius: 15px;
	cursor: pointer;
}
.main-container,
.slider-area {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.color-container {
	height: 200px;
	width: 200px;
	border: none;
}

.color-area {
	height: 200px;
	width: 200px;
}

section > p {
	text-align: center;
}
